# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that are not base code.
sites/default/files
sites/default/files/*

# Ignore themes.
sites/all/themes
sites/all/themes/*

# Ignore temp folder.
tmp
